/.idea
/.pdm-python
/.pdm.toml
/build/
/__pypackages__/
/dist/
/.mypy_cache/
/.ruff_cache/
/.pdm-build/
/tmp/
# Python cache files
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
/.zencoder/
/tests/mock_tmp/

**/.claude/settings.local.json
/.claude/
/.benchmarks/
/backup/
/.coverage
/.mcp.json
/.crackerjack/
/NOTES.md
/.obsidian/
/.smart-env/

# Temporary and working files
.DS_Store
coverage.json
*.bak
/.fastblocks/
/.envrc
