[project]
name = "fastblocks"
version = "0.1.5"
description = "Starlette based app for the rapid delivery HTMX/Jinja template blocks"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
requires-python = ">=3.11"
readme = "README.md"
dependencies = [
    "asgi-htmx>=0.1.0",
    "asgi-logger>=0.1.0",
    "brotli-asgi>=1.4.0",
    "secure>=0.3.0",
    "starlette-csrf>=3.0.0",
    "starlette>=0.31.1",
    "starlette-async-jinja>=1.3.0",
    "cashews>=6.3.0",
    "sqlalchemy-utils>=0.41.1",
    "acb>=0.2.4",
]

[project.optional-dependencies]
sitemap = [
    "asgi-sitemaps>=1.0.0",
]
auth = [
    "firebase-admin>=6.2.0",
]

[project.license]
text = "BSD-3-Clause"

[tool.pdm.options]
config = [
    "python.use_venv",
    "true",
]

[tool.pdm.dev-dependencies]
dev = [
    "crackerjack>=0.6.10",
    "pre-commit>=3.4.0",
    "pytest>=7.4.2",
    "autotyping>=23.3.0",
    "-e git+https://github.com/honglei/sqlmodel.git#egg=sqlmodel",
]

[tool.ruff]
line-length = 88
target-version = "py311"
fix = true
show-fixes = true
show-source = true

[tool.ruff.isort]
force-single-line = true

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py311",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "fastblocks",
]
skips = [
    "B113",
    "B403",
    "B404",
    "B603",
]

[tool.pyright]
include = [
    "fastblocks",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.11"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
