[project]
name = "fastblocks"
version = "0.7.3"
description = "Starlette based app for the rapid delivery HTMX/Jinja template blocks"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
maintainers = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
requires-python = ">=3.13"
keywords = [
    "starlette",
    "htmx",
    "jinja",
    "httpx",
    "sqladmin",
    "sqlmodel",
    "pydantic",
    "sqlalchemy",
    "redis",
]
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.13",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Operating System :: OS Independent",
    "Framework :: Pydantic",
    "Framework :: Pydantic :: 2",
    "Framework :: AsyncIO",
    "Typing :: Typed",
    "License :: OSI Approved :: BSD License",
    "Development Status :: 3 - Alpha",
]
readme = "README.md"
dependencies = [
    "asgi-htmx>=0.1.0",
    "brotli-asgi>=1.4.0",
    "starlette-csrf>=3.0.0",
    "starception>=1.2.1",
    "pydantic>=2.9.2",
    "pyfiglet>=1.0.2",
    "starlette>=0.41.2",
    "uvicorn>=0.32.0",
    "starlette-async-jinja>=1.8.0",
    "secure>=1.0.1",
    "acb[cache,requests,secret,sql,storage]",
    "minify-html>=0.15.0",
    "rcssmin>=1.1.3",
    "rjsmin>=1.2.3",
]

[project.optional-dependencies]
sitemap = [
    "asgi-sitemaps>=1.0.0",
]
admin = [
    "sqladmin>=0.20.1",
]
monitoring = [
    "sentry-sdk[starlette]>=2.18.0",
    "logfire[starlette]>=2.1.2",
]

[project.license]
text = "BSD-3-Clause"

[dependency-groups]
dev = [
    "crackerjack>=0.10.4",
]

[tool.ruff]
line-length = 88
target-version = "py313"
fix = true
show-fixes = true
output-format = "full"

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
ignore = [
    "F821",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
]
extend-select = [
    "I",
    "C901",
    "D",
]

[tool.ruff.lint.isort]
no-lines-before = [
    "first-party",
    "local-folder",
]

[tool.ruff.lint.mccabe]
max-complexity = 12

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.creosote]
paths = [
    "fastblocks",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pyyaml",
    "pytest",
    "pdm",
    "pre-commit",
    "pdm-bump",
    "pyfiglet",
    "autotyping",
    "tomli-w",
    "uv",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "fastblocks",
]
skips = [
    "B602",
    "B311",
    "B301",
    "B403",
    "B603",
    "B404",
    "B607",
]

[tool.pyright]
verboseOutput = true
include = [
    "fastblocks",
]
exclude = [
    "scratch",
]
extraPaths = [
    ".venv/lib/python3.13/site-packages/",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.13"
pythonPlatform = "Darwin"

[tool.codespell]
skip = "*/data/*"
quiet-level = 3
ignore-words-list = "crate,uptodate"

[tool.vulture]
min_confidence = 84
paths = [
    "fastblocks",
]

[tool.pdm]

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
