[project]
name = "fastblocks"
version = "0.12.5"
description = "Starlette based app for the rapid delivery of HTMX/Jinja template blocks"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
maintainers = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
requires-python = ">=3.13"
keywords = [
    "starlette",
    "htmx",
    "jinja",
    "httpx",
    "sqladmin",
    "sqlmodel",
    "pydantic",
    "sqlalchemy",
    "redis",
]
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.13",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Operating System :: OS Independent",
    "Framework :: Pydantic",
    "Framework :: Pydantic :: 2",
    "Framework :: AsyncIO",
    "Typing :: Typed",
    "License :: OSI Approved :: BSD License",
    "Development Status :: 3 - Alpha",
]
readme = "README.md"
dependencies = [
    "asgi-htmx>=0.1.0",
    "brotli-asgi>=1.4.0",
    "starlette-csrf>=3.0.0",
    "starception>=1.2.1",
    "pydantic>=2.11.5",
    "pyfiglet>=1.0.2",
    "starlette>=0.46.2",
    "uvicorn>=0.34.2",
    "starlette-async-jinja>=1.9.13",
    "secure>=1.0.1",
    "minify-html>=0.16.4",
    "rcssmin>=1.2.1",
    "rjsmin>=1.2.4",
    "granian[reload]>=2.3.1",
    "anyio>=4.9.0",
    "acb[cache,monitoring,requests,storage]",
]

[project.optional-dependencies]
sitemap = [
    "asgi-sitemaps>=1.0.0",
]
admin = [
    "sqladmin>=0.20.1",
]
monitoring = [
    "sentry-sdk[starlette]>=2.22.0",
    "logfire[starlette]>=3.7.1",
]
dev = [
    "crackerjack>=0.18.7",
    "pytest-anyio>=0.0.0",
    "pytest-benchmark>=5.1.0",
    "pytest>=8.3.5",
]

[project.license]
text = "BSD-3-Clause"

[tool.ruff]
line-length = 88
target-version = "py313"
fix = true
show-fixes = true
output-format = "full"
unsafe-fixes = true

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
ignore = [
    "F821",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
]
extend-select = [
    "I",
    "C901",
    "D",
]
fixable = [
    "ALL",
]
unfixable = []

[tool.ruff.lint.isort]
no-lines-before = [
    "first-party",
]

[tool.ruff.lint.mccabe]
max-complexity = 13

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.creosote]
paths = [
    "fastblocks",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pytest",
    "tomli-w",
    "google-crc32c",
    "pytest-asyncio",
    "pdm",
    "pdm-bump",
    "pytest-mock",
    "pyfiglet",
    "pytest-timeout",
    "pyyaml",
    "autotyping",
    "pre-commit",
    "pytest-cov",
    "uv",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "fastblocks",
]
skips = [
    "B403",
    "B404",
    "B607",
    "B101",
    "B301",
    "B311",
    "B603",
    "B704",
    "B602",
]

[tool.pyright]
verboseOutput = true
include = [
    "fastblocks",
]
exclude = [
    "scratch",
]
extraPaths = [
    ".venv/lib/python3.13/site-packages/",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportInvalidTypeForm = false
reportUnknownLambdaType = false
reportUnknownParameterType = "warning"
reportPrivateUsage = false
pythonVersion = "3.13"
pythonPlatform = "Darwin"

[tool.codespell]
skip = "*/data/*"
quiet-level = 3
ignore-words-list = "crate,uptodate,nd"

[tool.vulture]
min_confidence = 86
paths = [
    "fastblocks",
]
ignore_names = [
    "cls",
]

[tool.pytest.ini_options]
addopts = "--cov=fastblocks --cov-report=term"
asyncio_default_fixture_loop_scope = "function"
python_files = [
    "test_*.py",
    "*_test.py",
]
asyncio_mode = "auto"
testpaths = [
    "tests",
    "fastblocks",
]
python_classes = [
    "Test*",
]
python_functions = [
    "test_*",
]

[tool.coverage.run]
branch = false
source = [
    "fastblocks",
]
data_file = ".coverage"
parallel = false
omit = [
    "*/tests/*",
    "*/site-packages/*",
    "*/__pycache__/*",
    "*/__init__.py",
    "*/_version.py",
    "*/conftest.py",
    "*/test_*.py",
    "*/_test.py",
]

[tool.coverage.report]
exclude_also = [
    "pragma: no cover",
    "def __repr__",
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
    "pass",
    "raise ImportError",
    "except ImportError",
    "def __str__",
    "@abstractmethod",
]
ignore_errors = false

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
